* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background 0.3s, color 0.3s;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* TEMAS */
body.dark {
    background: #0f172a;
    color: white;
}

body.light {
    background: #f1f5f9;
    color: #111;
}

header {
    text-align: center;
    padding: 60px 20px;
}

/* TITULOS */
h2 {
    margin-bottom: 20px;
    display: inline-block;
    padding-bottom: 5px;
    position: relative; /* ESSENCIAL */
}

h2::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #38bdf8;
    position: absolute;
    left: 0;
    bottom: -8px;
    border-radius: 5px;
}


/* SECTIONS */
section {
    padding: 80px 20px;
    max-width: 1100px;
    margin: auto;
}

/* GRID */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

/* CARD PADRÃO */
.card {
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: transform 0.3s, opacity 0.5s;
}

/* TEMA ESCURO */
body.dark .card {
  background: #1f2937;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* TEMA CLARO */
body.light .card {
  background: white;
  color: #111;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}


/* ANIMAÇÃO */
.reveal.active .card {
    opacity: 1;
    transform: translateY(0);
}

button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 30px;
}

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: normal;
}

.hero p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;
  opacity: 0.9;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  background: #2563eb;
  padding: 12px 25px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}

body.light .btn-outline {
  color: #2563eb;
  border-color: #2563eb;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn-outline {
  background: transparent;
  border: 2px solid #2563eb;
}
.metricas {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.metricas span {
  background: #2563eb;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.metricas span::before {
  content: "⭐";
  margin-right: 5px;
}

.theme-btn {
  margin-top: 20px;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

/* Tema escuro */
body.dark .theme-btn {
  background: #2563eb;
  color: white;
}

/* Tema claro */
body.light .theme-btn {
  background: #111;
  color: white;
}

html {
  scroll-behavior: smooth;
}

section {
  border-left: none !important;
}

.container {
  border-left: none !important;
}
.card {
  border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
#contato .hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center; /* ou flex-start se quiser alinhado à esquerda */
}

#contato .btn {
  padding: 5px 10px;
  font-size: 1.05rem;
  font-weight: 500;
  border-radius: 12px;
  min-width: 170px;
  text-align: center;
}

@media print {
  body {
    background: white;
    color: black;
  }

  header, footer, button {
    display: none;
  }
}
